<div>
    <h3>Nosso Projeto</h3>

    <p>Fomos convidados a desenvolver um sistema de monitoramento de vans
        em tempo real para a ESPM, com o intuito de facilitar a localização das Vans entre as estaçoes e as
        unidades da faculdade, para isso utilizamos como principal ferramenta...</p>

    <div id="ferramentas-utilizadas">
        <h6>bla bla</h6>
    </div>

</div>

<div>
    <h3>Integrantes</h3>
    <p>Ao longo do desenvolvimento do projeto contamos com a ajuda de alguns estudantes e suas especializações</p>

    <div id="Integrantes">

    </div>

</div>

<div>
    <h3>Agradecimentos</h3>
    <p> nós gostariamos de agradecer a mentoria e o auxilio do professor Carlos Rafael, que serviu como principal
        orientador ao longo do desenvolvimento do projeto</p>
</div>